<h1 class="text-center mt-4">Listing Topics</h1>

<table class="table table-striped mt-3 ">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<td>Action</th>
	</tr>

	<% @topics.each do |topic| %>
		<tr>
			<td><%= topic.title%></td>
			<td><%= topic.description%></td>
			<td>
				<%= pluralize(topic.votes.count, "Vote")%>
				<%= link_to "+1", upvote_topic_path(topic), method: :post, class: "btn btn-primary"%>
				<%= link_to "-1", downvote_topic_path(topic), method: :delete, class: "btn btn-primary"%>
				<%= link_to "Preview", topic_path(topic.id), class:"btn btn-secondary"%>
				<%= link_to "Edit", edit_topic_path(topic.id), class:"btn btn-success"%>
				<%= link_to "Delete", topic_path(topic.id), method: :delete, class:"btn btn-danger", data: {confirm:"Are you sure?"}%>
			</td>
		</tr>
	<%end%>
</table>

<%= link_to "Create New Topic",new_topic_path, class:"btn btn-primary" %>